.cabecalho {
    padding-top: 1.5rem;
    position: fixed;
    top: 0;
}

.menu-abrir,
.menu-fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 5rem;
    text-indent: -999em;
}
.menu-abrir {
    height: 0;
    width:4rem;
    padding-top:.125em;
    border-top: .375em double #fff;
    border-bottom: .125em solid #fff;

    vertical-align: middle;
    margin: 0.5em;    
}
.menu-fechar {
    position: relative;
    height: 1em;
    width: 1em;
}
.menu-fechar::before {
    content: '\00D7';
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    text-indent: 0;
}
.menuNavegacao__botao {
    list-style: none;
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
}
.menuNavegacao__botao a {
    color: #fff;
    cursor: pointer;
    font-size: 4rem;
    font-style: none;
    text-decoration: none;
}

@media (max-width: 767px) {
    .header__menuNavegacao {
        background: #011C26;
        padding: 1.5rem 0 0 4rem;
        margin: 0;
        box-sizing: border-box;

        height: 100%;
        width: 100%;

        position: fixed;
        z-index: 1;
        top: calc(2 * 100vh);
        left: 0;


        transition: top 0.3s ease-out;
    }

    .header__menuNavegacao.menu-ativo {
        top: 0;
    }

    .menuPrincipal li {
        padding: 1em 0;
    }

}

@media (min-width: 768px) {
    .cabecalho {
        padding-top: 0;
        position: fixed;
        width: 100%;
        background-color: rgba(1,28,38, 0.9);
    }

    .menu-abrir,
    .menu-fechar {
        display: none;
    }

    .header__menuNavegacao {
        width: 700px;
        margin: 0 auto;
        height: 7rem;
        padding-top: 1rem;
    }

    .header__menuNavegacao ul {
        display: flex;
        justify-content: space-between;
    }

    .header__menuNavegacao li {
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;

    }

}

@media (min-width: 1100px) {
    .header__menuNavegacao {
        height: 5rem;
        padding-top: 1rem;
    }

    .header__menuNavegacao li {
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .menuNavegacao__botao a {
        color: #fff;
        font-size: 2.5rem;
        font-style: none;
        text-decoration: none;
    
    }

}
