.introducao {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introducao__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: .3rem solid #011C26;
    box-shadow: 0px 0px 30px rgba(1,28,38, 0.8);
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.introducao__box {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(1,28,38, 0.7);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;
    border-radius: 1rem;
    text-align: center;
}

.box__nome {
    font-size: 4.2rem;
    margin: 0;
    margin-bottom: 1rem;
}

.box__descricao {
    font-size: 2.6rem;
    margin: 0;
}


@media (min-width: 768px) {

    .introducao__avatar {
        width: 300px;
        height: 300px;
    }

    .introducao__box{
        width: 80%;
    }

    .box__nome {
        font-size: 4.8rem;
    }
    
    .box__descricao {
        font-size: 3.2rem;
    }
}

@media (min-width: 1100px) {

    .introducao {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* background-position: bottom -300px right 0px; */
    }
 
    .introducao__avatar {
        margin: 0;
        margin-right: 7rem;
    }

    .introducao__box{
        width: auto;
        margin: 0;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    .box__nome {
        font-size: 3rem;
    }    
    .box__descricao {
        font-size: 2.4rem;
    }
}